server:
  port: 8082

spring:
  jpa:
    show-sql=true:
  datasource:
    url: jdbc:postgresql://localhost:5433/first_aid_kit_dev
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
  config:
    import: optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    clean-disabled: false
    lean-on-validation-error: true

# JWT secret for local development only
app:
  jwt:
    secret: ${JWT_SECRET:}