<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- domyślny ładny format Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- DEV / LOCAL -->
    <springProfile name="local | dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- PROD -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>